<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378656851995-cuopscc4ah1jiqj54t5v75cqhr5gkmqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378656851995-cuopscc4ah1jiqj54t5v75cqhr5gkmqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>378656851995-fkgd3phiq6u3vi205q4odvg9v3l2qin9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChFkWGahEcVW7WLap-AedXZ1hXkH62DcM</string>
	<key>GCM_SENDER_ID</key>
	<string>378656851995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.ServiLine</string>
	<key>PROJECT_ID</key>
	<string>serviline-460fb</string>
	<key>STORAGE_BUCKET</key>
	<string>serviline-460fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378656851995:ios:c2c6099d295400f638d0be</string>
</dict>
</plist>